.auth-nav :not(:last-child) {
  margin-right: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.auth-nav .item:hover,
.auth-nav .item:focus {
  color: var(--accent-text-color);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}
.auth-nav .contacts-icon:hover,
.auth-nav .contacts-icon:focus {
  fill: var(--accent-text-color);
}