.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.list-client {
  display: flex;
  gap: 30px;
}

.icon-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover{color: var(--accent-text-color);
  cursor: pointer;
  border-color: var(--accent-text-color)
  }
}

.icon-logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

