.container-heder-portfolio {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid var(--border-header-background-color);
  border-left: 0px;
}
.portfolio-box-photo {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-box-photo li:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--timing-function);
  &:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
}
.portfolio-sample-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-sample-decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  opacity: 1;
  transition-property: transform, opacity;
  transition-timing-function: var(--timing-function);
  transition-duration: 250ms;
}
.sample-decoration-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 322px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}
.portfolio-item:hover .portfolio-sample-decoration {
  opacity: 1;
  transform: translateY(-100%);
}

.portfolio-item:hover .portfolio-decoration-text {
  opacity: 1;
}
.portfolio-box-photo .portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-photo-text {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-width: 0 1px 1px 1px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-photo-text .portfolio-item-text {
  margin-top: 4px;
}
.portfolio-item-title {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
