.main-nav {
  display: flex;
  align-items: center;
}
.list-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.list-nav :not(:last-child) {
  margin-right: 50px;
}
.list-nav .item:hover,
.list-nav .item:focus {
  color: var(--accent-text-color);
}
.item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  transition: color 250ms var(--timing-function);
}