.button {
  min-width: 200px;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: Roboto;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-style: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus{
 background-color: var(--white-text-color);
  color: var(--accent-text-color);
  }
}
