a {
  text-decoration: none;
  color: var(--primary-text-color);
}
img {
  display: block;
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
textarea {
  resize: none;
}
.icon {
  fill: currentColor;
}