:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --titel-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --border-background-color: #eeeeee;
  --border-header-background-color: #ececec;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  position: relative;
  color: var(--accent-text-color);
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    top: 30px;
  }
}
